---
import Button from "./Button.astro";
---
<footer>
    <div><img src="assets/logo-light.svg" alt="logo"></div>
    <div><Button buttonType="button3" buttonText="Get Started"></Button></div>
</footer>

<style>
    footer {
        height: 120px;
        background-color: var(--cadet);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
</style>